body {
    font-family: Helvetica;
}

.CarContent1 {
    background-color: #F1F3FF;
    overflow: hidden;
}

.CarContent1 .Col1 {
    margin-bottom: 8em;
}

.filter {
    top: -3em;
}


.render {
    font-family: Helvetica;
}

.harga {
    font-weight: bold;
}

.container.render .card.p-4 {
    position: relative;
    margin-bottom: 2em;

}

#gambar {
    position: relative;
    width: 20em;
    height: 17em;
    overflow: hidden;
    object-fit: cover;
}

