.LoginPage {
    height: 20em;
    width: 50em;
    border: solid 0px black;
    box-shadow: 1px 3px 8px;
    background-color: #f1f3ff82 ;
    margin-top: 2em;
    text-align: center;
}

.LoginPage .text {
    padding: 70px 0;
}